@tailwind base;
@tailwind components;
@tailwind utilities;

@screen print {
  /* Hide the print page header and footer */
  @page {
    margin: 0;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    color: black !important;
  }

  h1,
  h2,
  h3,
  p {
    color: black !important;
  }

  html {
    font-size: 13px !important;
  }
}
